<% provide(:title, "東京従業員") %>

<h1 class = "text-center">
  <% if params[:search] %>
    検索結果
  <% else %>
    東京支店の従業員一覧
  <% end %>
</h1>
 
<%= form_tag(tokyo_path, :method => 'get', class: "pull-right") do %>
  <p class = "label-search">従業員検索</p>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil, class: "btn btn-sm btn-primary pull-right btn-search" %>
<% end %> 

<div>
　<%= link_to "大阪本店の従業員一覧", osaka_path, class: "btn btn-success btn-place" %>
  <%= link_to "東京支店の従業員一覧", tokyo_path, class: "btn btn-warning btn-place" %>
  <%= link_to "名古屋支店の従業員一覧", nagoya_path, class: "btn btn-info btn-place" %>
  <%= link_to "全従業員一覧", users_path, class: "btn btn-danger btn-place" %>
</div>

<div class = "col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class = "table table-condensed table-hover" id = "table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :occupation %></th>
        <th><%= User.human_attribute_name :employment_status %></th>
        <th><%= User.human_attribute_name :basic_time %></th>
        <th><%= User.human_attribute_name :work_time %></th>
        <th><%= User.human_attribute_name :work_place_of_user %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.occupation %></td>
        <td><%= user.employment_status %></td>
        <td><%= format_basic_info(user.basic_time) %></td>
        <td><%= format_basic_info(user.work_time) %></td>
        <td><%= user.work_place_of_user %></td>
        <td>
          <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-success" %>
          <% unless current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>