<% provide(:title, "出勤従業員一覧") %>

<%= link_to "大阪本社の出勤者一覧", working_user_osaka_path, class: "btn btn-success btn-place btn-place" %>
<%= link_to "東京支社の出勤者一覧", working_user_tokyo_path, class: "btn btn-warning btn-place btn-place" %>
<%= link_to "名古屋支社の出勤者一覧", working_user_nagoya_path, class: "btn btn-info btn-place btn-place" %>

<table class="table table-striped table-bordered table-work">
  <thead>
    <tr>
      <th>出勤従業員一覧</th>
      <th><%= User.human_attribute_name :work_place_of_user %></th>
      <th><%= User.human_attribute_name :employment_status %></th>
      <th><%= User.human_attribute_name :work_place_of_user %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @attendances.each do |attendance| %>
    <tr>
      <% user = User.find(attendance.user_id) %>
      <td><%= link_to User.find(user.id).name, user_path(user.id) %></td>
      <td><%= user.occupation %></td>
      <td><%= user.employment_status %></td>
      <td><%= user.work_place_of_user %></td>
    </tr>
    <% end %>
  </tbody>
</table>
